<div id="item_<%= Time.parse(@data[:event_date]).to_i %> item_active" class="item" data-item-timestamp="<%= Time.parse(@data[:event_date]).to_i %>">
  <div class="item_label">
    <%= @data[:event_description]%>
  </div>
    <% if @data[:event_link] %>
      <div class="doc_img">
        <a target="_blank" href="<%= @data[:event_link] %>"><img src="<%= @data[:event_thumbnail] %>"></a>
        <div class="read_btn"><a target="_blank" href="<%= @data[:event_link] %>">Read More</a></div>
      </div>
    <% end %>

  <div class="item_year">
    <%= @data[:event_display_date].empty? ? @data[:event_date] : @data[:event_display_date] %>
  </div>
    <div class="css_arrow css_arrow_down"></div>
</div>
